@import "neededDefaults";




header {
  background-color: black;
  padding: 24px 0;
  min-height: 90px;
  @include max-screen(1024px) {
    padding: 24px 15px;
  }

  ul {
    align-items: center;
    list-style: none;

    li {
      margin-left: 32px;
      transition: 0.3s;
      @include max-screen(936px) {
        margin-left: 25px;
      }
      @include max-screen(880px) {
        margin-left: 11px;
      }
      @include max-screen(815px) {
        margin-left: 5px;
      }

      &:hover {
        transform: scale(1.2);
      }

      &:hover a {
        transform: scale(1.2);
      }

      &:first-of-type {
        margin-right: 24px;
        font-size: 13px;
        @include max-screen(936px) {
          margin-right: 15px;
        }
        @include max-screen(880px) {
          margin-right: 6px;
        }
        @include max-screen(815px) {
          margin-right: 2px;
        }
      }
        &:last-of-type {
          margin-left: 31px;
          @include max-screen(936px) {
            margin-left: 24px;
          }
          @include max-screen(880px) {
            margin-left: 10px;
          }
          @include max-screen(815px) {
            margin-left: 5px;
          }
        }

        &:last-of-type a {
          background-color: $white_color;
          border-radius: 14px;
          color: $main_color;
          padding: 9px 20px 13px 20px;
          font: 18px/24px $main_font;
          letter-spacing: 0.4px;
        }

        a {
          font: 15px/20px $main_font;
          color: $white_color;
        }

        &:last-of-type:hover a {
          transform: scale(1.1);
        }
      }
    }
  }
