*{
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    background-color: black;
    padding:24px 0;
    min-height: 90px;
}
.container{
    max-width:1400px;
    margin: auto;
    align-items: center;
}
.d_flex{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-top:7px;
    margin-left: 32px;
    display: inline-block;
}
header ul{
    display: flex;
    align-items: center;
    list-style: none
}
header ul li{
    margin-left: 32px;
    transition:0.3s;
}
header ul li a{
    color:white;
    line-height:20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
header ul li:hover{
    transform:scale(1.2);
}
header ul li:hover a{
    transform:scale(1.2);
}
header ul li:first-of-type{
    margin-right: 24px;
    font-size: 13px;
}
header ul li:last-of-type{
    display: inline-block;
    margin-left:31px;
}
header ul li:last-of-type a{
    background-color: white;
    border-radius: 14px;
    color: black;
    padding: 9px 20px 13px 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    letter-spacing:0.4px;
}
.section_Aperture_Studios{
    background-image:url('imgs/Aperture_bg_img.jpg');
    background-size: cover;
    height: 100vh;
}
.padding_for_Aperture_Studios{
    padding-top:446px;
}
.sub_container{
    max-width: 580px;
    margin:0 auto;
}
.sub_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-top:20px;
}
.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    text-align: center;
    line-height: 59px;
    color: #FFFFFF;
}
.desc{
    margin-top:18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
section ul{
    display: flex;
    list-style:none;
    float:right;
}
section ul li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left:15px;
}
/*.test_link{*/
/*    border:solid 2px black;*/
/*    width:200px;*/
/*    height:100px;*/
/*    border-radius:9px;*/
/*}*/
/*.test_link:before{*/
/*    content:"";*/
/*    display:block;*/
/*    width:33%;*/
/*    height:100px;*/
/*    background-color: green;*/
/*}*/
/*.test_link:after{*/
/*    content:"";*/
/*    display:inline-block;*/
/*    width:33%;*/
/*    height:100px;*/
/*    background-color: red;*/
/*}*/