@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
header{
    background-color: black;
    padding:24px 0;
    min-height: 90px;
}
.container_header{
    max-width:1440px;
    margin: auto;
    align-items: center;

}
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-top:7px;
    margin-left: 32px;
    display: inline-block;
}
header ul{
    display: flex;
    align-items: center;
    list-style: none
}
header ul li{
    margin-left: 32px;
    transition:0.3s;
}
header ul li a{
    font: 15px/20px 'Poppins';
    color:white;
}
header ul li:hover{
    transform:scale(1.2);
}
header ul li:hover a{
    transform:scale(1.2);
}
header ul li:first-of-type{
    margin-right: 24px;
    font-size: 13px;
}
header ul li:last-of-type{
    display: inline-block;
    margin-left:31px;
}
header ul li:last-of-type a{
    background-color: white;
    border-radius: 14px;
    color: black;
    padding: 9px 20px 13px 20px;
    font:18px/24px 'Poppins';
    letter-spacing:0.4px;
}
header ul li:last-of-type:hover a{
    transform:scale(1.1);
}
.section_AS{
    background-image:url('imgs/Aperture_bg_img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-items:flex-end;
    padding-bottom: 71px;
}
.container_AS{
    max-width:580px;

}
.sub_title_AS{
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-top:20px;
}
.title_AS{
    font: 54px/59px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}
.desc_AS{
    margin-top:18px;
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #C0C0C0;
}
section ul{
    display: flex;
    list-style:none;
    float:right;
}
section ul li{
    font:12px/12px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-left:16px;
}

.fixed_info li{
    font:12px/12px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    display:inline-flex;
    margin-left:16px;
}
.fixed_info{
    position:absolute;
    bottom:41px;
    right:40px;
}
.fixed_info li:before{
    content: "";
    background-image: url("imgs/time.svg");
    width:16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.fixed_info li:nth-child(2):before{
    content: "";
    background-image: url("imgs/photoshoot.svg");
    width:16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.fixed_info li:nth-child(3):before{
    content: "";
    background-image: url("imgs/ISO.svg");
    width:32px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.fixed_info li:last-of-type:before{
    content: "";
    background-image: url("imgs/location.svg");
    width:10px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.section_Past_clients{
    background-color: black;
    padding-top:120px;
    padding-bottom: 100px;
}
.title_Past_clients{
    font: 40px/42px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin-bottom:15px;
}
.desc_Past_clients{
    font:24px/30px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #C0C0C0;
    margin-bottom:82px;
}
.container_Past_clients{
    max-width:1200px;
    margin:auto;
}
.sub_container_Past_clients{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.sub_container_Past_clients a{
    display:inline-block;
    max-width: 128px;
}
.section_Fuji{
    background-image:url('imgs/Fuji.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height:600px;
    display:flex;
    align-items:center;
    justify-content: right;
    padding-right:62px;
}
.container_Fuji{
    max-width:298px;
}
.title_Fuji{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.desc_Fuji{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}
.section_Monstera{
    background-image:url('imgs/Monstera.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height:600px;
    display:flex;
    align-items:center;
    justify-content: right;
    padding-right:87px;
}
.container_Monstera{
    max-width:273px;
}
.title_Monstera{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.desc_Monstera{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}
.section_StarFall{
    background-image:url('imgs/Starfall.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height:600px;
    display:flex;
    align-items:center;
    justify-content: right;
    padding-right:106px;
}
.container_StarFall{
    max-width:254px;
}
.title_StarFall{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.desc_StarFall{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}
.section_get_in_touch{
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:113px;
    padding-bottom:108px;
    text-align: center;
}
.container_get_in_touch{
    max-width:571px;

}
.title_get_in_touch{
    font:40px/42px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.desc_get_in_touch{
    font:24px/30px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
    margin-bottom:22px;
}
.button{
    font:16px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: white;
    border-radius: 14px;
    display:inline-flex;
    align-items:center;
    padding:5px 10px 5px 4px;
}
.button:before{
    content:"";
    background-color: black;
    height:32px;
    width:32px;
    border-radius:13px;
    margin-right:6px;

}
.section_what_we_do{
    padding-top:113px;
    padding-bottom: 100px;
    background-color: black;
}
.container_what_we_do{
    max-width: 1168px;
    margin:auto;
}
.section_what_we_do .d_flex{
    flex-wrap:wrap;
}
.section_what_we_do h2{
    color:white;
    text-align: center;
    font:40px/42px 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 15px;
}
.section_what_we_do p{
    color:white;
    text-align: center;
    font:23px/30px 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 42px;
}
.item{
    max-width: 576px;
    position:relative;
    margin-bottom: 16px;
}
.item img{
    display:block;
    width: 100%;
}
.desc_img{
    position: absolute;
    padding:30px;
    width:100%;
    bottom:0;
    color:white;
    text-align: left;
}
.desc_img h4{
    text-align: left;
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.desc_img p{
    text-align: left;
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}
footer{
    padding-top:100px;
    padding-bottom: 100px;
    background-color: black;
}
.container_footer{
    max-width:1168px;
    margin:auto;
}
.container_footer_Aperture{
    display:flex;
    justify-content: space-between;
}
.desc_footer{
    max-width:458px;
    text-align: left;
}
.desc_footer img{
    margin-bottom:20px;
}
.desc_footer p{
    font:13px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}
.footer_list{
    display:flex;
    padding-bottom:36px;
}
.business_areas_list{
    margin-right:55px;
}
.business_areas_list li{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
    margin-bottom: 10px;
}
.business_areas_list li:first-of-type{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;
}
.business_areas_list li a{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.business_areas_list li:last-of-type a{
    font:13px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.pages_list{
    padding-right: 102px;
}
.pages_list li{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
    margin-bottom: 10px;
}
.pages_list li:first-of-type{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 10px;
}
.pages_list li a{
    font:13px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.pages_list li:nth-child(4) a{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.pages_list li:nth-child(6) a{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.newsletter{
    border-top:2px solid white;
    border-bottom: 2px solid white;
    display:flex;
    justify-content: space-between;
}
.newsletter_subscribe{
    align-items: center;
    padding-top:36px;
}
.newsletter_subscribe h4{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom:20px;
}
.newsletter_subscribe p{
    font:13px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}
.newsletter_bar{
    padding-top:40px;
    padding-bottom: 40px;
}
form{
    background-color: white;
    display:flex;
    border-radius: 12px;
    padding-right:6px;
    align-items: center;
}
.input_bar{
    width:389px;
    height:52px;
    background-color: transparent;
    border:none;
}
.input_button{
    width:63px;
    height:30px;
    background-color: black;
    border-radius: 11px;
}
.copyright_footer{
    margin-top:56px;
}
.copyright_footer h3{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}
.copyright_footer ul{
    display:flex;
}
.copyright_footer ul li{
    margin-left:20px;
}
.copyright_footer ul li:last-of-type{
    margin-left:26px;
}
.copyright_footer ul li a{
    display:inline-block;
}
.owl-carousel{
    display:flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.owl-nav .owl-prev{
    position: absolute;
    left:0;
    top:20px;
}
.owl-nav .owl-prev:before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content:"\f053";
    color:white;
    font-size:30px;
}
.owl-nav .owl-next{
    position: absolute;
    right:0;
    top:20px;
}
.owl-nav .owl-next:before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content:"\f054";
    color:white;
    font-size:30px;
}

/*280px; fold*/
/*320px; iphone 4 5 se*/
/*360px;android*/
/*375px;iphone 11/12/13 mini 6 7 8*/
/*390px;iPhone 11 12 13*/
/*414px; iPhone plus 8plus xs*/
/*428px;iPhone pro max 11 12 13*/

/*768px; iPad mini android tablet;*/
/*820px; iPad air;*/
/*992px; iPad pro;*/
/*1024px; pro max tablet flipped;*/
/*.my-flex-block{*/
/*    background-color: red;*/
/*    margin:auto;*/
/*    flex-basis: 300px;*/
/*}*/
/*.my-flex-container{*/
/*    display:flex;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*}*/

/*


/*.order_1{*/
/*    order:1;*/
/*}*/
/*.order_2{*/
/*    order:2;*/
/*}*/
/*.order_3{*/
/*    order:3;*/
/*}*/
/*.order_4{*/
/*    order:4;*/
/*}*/
/*@media screen and (max-width: 900px){*/
/*    .order_1{*/
/*        order:4*/
/*    }*/
/*    .order_4{*/
/*        order:1*/
/*    }*/
/*    .*/
/*}*/


/*.test_link{*/
/*    border:solid 2px black;*/
/*    width:200px;*/
/*    height:100px;*/
/*    border-radius:9px;*/
/*}*/
/*.test_link:before{*/
/*    content:"";*/
/*    display:block;*/
/*    width:33%;*/
/*    height:100px;*/
/*    background-color: green;*/
/*}*/
/*.test_link:after{*/
/*    content:"";*/
/*    display:inline-block;*/
/*    width:33%;*/
/*    height:100px;*/
/*    background-color: red;*/
/*}*/