@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    background-color: black;
    padding:24px 0;
    min-height: 90px;
}
.container_header{
    max-width:1440px;
    margin: auto;
    align-items: center;

}
.d_flex{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-top:7px;
    margin-left: 32px;
    display: inline-block;
}
header ul{
    display: flex;
    align-items: center;
    list-style: none
}
header ul li{
    margin-left: 32px;
    transition:0.3s;
}
header ul li a{
    font: 15px/20px 'Poppins';
    color:white;
}
header ul li:hover{
    transform:scale(1.2);
}
header ul li:hover a{
    transform:scale(1.2);
}
header ul li:first-of-type{
    margin-right: 24px;
    font-size: 13px;
}
header ul li:last-of-type{
    display: inline-block;
    margin-left:31px;
}
header ul li:last-of-type a{
    background-color: white;
    border-radius: 14px;
    color: black;
    padding: 9px 20px 13px 20px;
    font:18px/24px 'Poppins';
    letter-spacing:0.4px;
}
header ul li:last-of-type:hover a{
    transform:scale(1.1);
}
.section_AS{
    background-image:url('imgs/Aperture_bg_img.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-items:flex-end;
    padding-bottom: 71px;
}
.container_AS{
    max-width:580px;

}
.sub_title{
    font: 14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-top:20px;
}
.title{
    font: 54px/59px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}
.desc_AS{
    margin-top:18px;
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #C0C0C0;
}
section ul{
    display: flex;
    list-style:none;
    float:right;
}
section ul li{
    font:12px/12px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-left:16px;
}

.fixed_info li{
    font:12px/12px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    display:inline-flex;
    margin-left:16px;
}
.fixed_info{
    position:absolute;
    bottom:41px;
    right:40px;
}
.fixed_info li:before{
    content: "";
    background-image: url("imgs/time.svg");
    width:16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.fixed_info li:nth-child(2):before{
    content: "";
    background-image: url("imgs/photoshoot.svg");
    width:16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.fixed_info li:nth-child(3):before{
    content: "";
    background-image: url("imgs/ISO.svg");
    width:32px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.fixed_info li:last-of-type:before{
    content: "";
    background-image: url("imgs/location.svg");
    width:10px;
    height: 16px;
    display: block;
    margin-right: 6px;
}
.section_Past_clients{
    background-color: black;
    padding-top:120px;
    padding-bottom: 100px;
}
.title_Past_clients{
    font: 40px/42px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin-bottom:15px;
}
.desc_Past_clients{
    font:24px/30px 'Poppins';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #C0C0C0;
    margin-bottom:82px;
}
.container_Past_clients{
    max-width:1200px;
    margin:auto;
}
.sub_container_Past_clients{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.section_Fuji{
    background-image:url('imgs/Fuji.jpg');
    background-size: cover;
    position: relative;
    min-height:600px;
    display:flex;
    align-items:center;
    justify-content: right;
    padding-right:62px;
}
.section_Fuji div{
    max-width:298px;
}
.section_Fuji div h3{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section_Fuji div p{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}
.section_Monstera{
    background-image:url('imgs/Monstera.jpg');
    background-size: cover;
    position: relative;
    min-height:600px;
    display:flex;
    align-items:center;
    justify-content: right;
    padding-right:87px;
}
.section_Monstera div{
    max-width:273px;
}
.section_Monstera h3{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section_Monstera p{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}
.section_StarFall{
    background-image:url('imgs/Starfall.jpg');
    background-size: cover;
    position: relative;
    min-height:600px;
    display:flex;
    align-items:center;
    justify-content: right;
    padding-right:106px;
}
.section_StarFall div{
    max-width:254px;
}
.section_StarFall h3{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section_StarFall p{
    font:14px/20px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}






/*.my-flex-block{*/
/*    background-color: red;*/
/*    margin:auto;*/
/*    flex-basis: 300px;*/
/*}*/
/*.my-flex-container{*/
/*    display:flex;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*}*/




/*.order_1{*/
/*    order:1;*/
/*}*/
/*.order_2{*/
/*    order:2;*/
/*}*/
/*.order_3{*/
/*    order:3;*/
/*}*/
/*.order_4{*/
/*    order:4;*/
/*}*/
/*@media screen and (max-width: 900px){*/
/*    .order_1{*/
/*        order:4*/
/*    }*/
/*    .order_4{*/
/*        order:1*/
/*    }*/
/*    .*/
/*}*/


/*.test_link{*/
/*    border:solid 2px black;*/
/*    width:200px;*/
/*    height:100px;*/
/*    border-radius:9px;*/
/*}*/
/*.test_link:before{*/
/*    content:"";*/
/*    display:block;*/
/*    width:33%;*/
/*    height:100px;*/
/*    background-color: green;*/
/*}*/
/*.test_link:after{*/
/*    content:"";*/
/*    display:inline-block;*/
/*    width:33%;*/
/*    height:100px;*/
/*    background-color: red;*/
/*}*/